.tranparent{
    background-color: rgba(255, 255, 255, 0); /* Adjust transparency */
    backdrop-filter: blur(5px); /* Optional: Adds a blur effect */
}
.hello {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bolder;
    font-size:  10rem;
    padding: 0;
    margin: 0;
    font-style: normal;
  }
  .name{
        font-family: "Italianno", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 2rem;
      }

 .other {
        font-family: "EB Garamond", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 2rem;

      }
      .clicp-path{
        background: #FAE586;
        clip-path: polygon(0 11%, 90% 0, 99% 96%, 18% 95%);
        transition: all .5s ease-in-out;



      }
      .clicp-path:hover{
        clip-path: polygon(0 0, 100% 0, 99% 96%, 0 95%);

      }



      @media (max-width:600px) {
        .hello{
          font-size: 4rem;
        }
        
      }