.blog-container {
    /* background-color: #5bb98c; */
    font-family: 'Arial', sans-serif;
  }
  
  .blog-title {
    font-weight: 900;
    letter-spacing: 2px;
  }
  
  .blog-card {
    background: transparent;
    border: none;
  }
  
  .blog-author {
    color: #333;
    font-size: 0.9rem;
  }
  
  hr {
    border-top: 2px solid #333;
  }
  
  @media (max-width: 600px) {
    .blog-container{
        padding: 1rem !important;
    }
    .leftborder{
        border-left: none !important;
    }
    .rightborder{
        border-right: none !important;

    }
    
  }